*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.btn_primary {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem;
  background-color: transparent;
}

.light button {
  color: red !important;
}

.dark button {
  background-color: green !important;
}

.btn_primary_dark button {
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 1rem 0;
}

.btn_secondary {
  height: 3rem;
  border-radius: 8px;
}

.btn_sec_wrapper {
  outline: none;
  border: none;
  background-color: transparent;
}

.dark_bg {
  background-color: black !important;
  height: auto;
  color: #e7e3e3;
}

/* .dark_light {
  background-color: white;
  height: auto;
} */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.active_navlink,
.navlink {
  font-size: 1rem;
  margin: 0.5rem;
}

.active_navlink {
  color: red;
}

.center {
  text-align: center;
}

/* Cards */

.card_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card_light,
.card_dark {
  width: 24%;
  border-radius: 5px;
  margin-bottom: 0.7rem;
  text-align: center;
  padding: 2rem 0;
}

.card_light {
  background-color: #ebebeb;
}

.card_dark {
  background-color: #24282a;
}

.card_img {
  width: 10rem;
  height: 10rem;
}

.score {
  padding-bottom: 1.3rem;
  font-size: 2rem;
}
.login {
  text-decoration: none;
  padding: 1rem;
}

.login h2 {
  font-size: 1.5rem;
  padding: 0.3rem 0;
}

.col img {
  width: 2rem;
  margin-right: 0.5rem;
}

.col h2 {
  font-size: 1.3rem;
  font-weight: 200;
}

.col {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card_content {
  margin: 0 auto;
  max-width: 10rem;
}

.user {
  font-size: 1.3rem;
}

.test {
  background-color: tomato;
}

/* Battle */

.battle_header {
  text-align: center;
  padding-bottom: 3rem;
}

.instruction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instruction_col img {
  width: 14rem;
  height: 12rem;
}

.instruction_col {
  flex: 0 1 31%;
  text-align: center;
}

.instruction_col h2 {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 200;
}

.form_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_section form {
  padding: 2rem;
  width: 47%;
}

.handle_input_dark,
.handle_input_light {
  flex: 0 1 68%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #e7ebec;
  font-size: 1.2rem;
}

.btn_submit {
  flex: 0 1 30%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #b7cbcf;
  border-radius: 5px;
  font-size: 1.2rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_header {
  width: 100%;
  display: block;
  padding-bottom: 0.4rem;
  font-size: 1.4rem;
}
